
@media screen and (min-width: 1001px){
    .nav-mobile{
        display: none;
    }
    .sidemenu{
        display: none;
    }
}

@media screen and (max-width: 1000px){
    .nav-desktop{
        display: none;
    }
}