.sidemenu{
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 10000;
    display: grid;
    grid-template-columns: 60% 40%;
    transition: .6s ease;
    overflow: hidden;
}

.sidemenu .brand-logo{
    background-color: #fff;
    margin-top: -.5em;
}

.sidemenu .logout-btn{
    color: #fff !important;
}

.sidemenu-open{
    width: 100%;
}

.sidemenu .nav-wrap{
    /* background-image: linear-gradient(to right, rgb(61, 175, 228), rgb(206, 4, 206)); */
    background-image: linear-gradient(to right, rgb(12, 107, 151), rgb(206, 4, 206));
}

.sidemenu .nav-wrap img{
    width: 80%;
    margin: .4em auto;
    display: block;
}

.sidemenu .overlay{
    background-color: rgba(0, 0, 0, 0.897);
    position: relative;
}
.sidemenu .overlay .close-nav{
    position: absolute;
    top: .3em;
    left: .3em;
    font-size: 3em;
}

.sidemenu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-left: .8em;
    opacity: 0;
    transition: .5s ease;
    color: #fff;
}

.sidemenu ul li{
    margin-bottom: .6em;
    font-size: 1.3em;
    color: #fff;
}

.sidemenu ul.open{
    opacity: 1;
}

.sidemenu ul a{
    color: #fff !important;
    font-size: 1em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.sidemenu ul a.active{
    color: rgb(10, 233, 222) !important;
    font-weight: 600 !important;
}

