.forgot-password-wrap{
    min-height: 100vh;
    background: url("/img/frustratedman2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5em;
}

.forgot-password{
    background-color: rgba(0, 0, 0, 0.747);
    padding: 2em;
    border-radius: 10px;
    color: #fff;
    max-width: 25em;
}

.forgot-password h1{
    text-transform: capitalize;
    color: cornflowerblue;
    font-size: 1.6em;
}