.login-wrap{
    width: 100%;
    min-height: 100vh;
    background: url(/img/bg-image.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 5em 0;
}

.login-wrap p{
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--p-color-3);
}

.form-control{
    border-radius: 0 !important;
}

.login-wrap .input-group-text{
    background-color: var(--p-color-5) !important;
    color: #fff;
}
.login{
    margin: 0 auto;
    max-width: 400px;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.808);
    color: #fff;
    border-radius: 10px;
}

.login a{
    color: blueviolet;
}

.login .oauth-wrap button{
    display: block;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.534);
    margin-bottom: 1em;
    text-align: left;
    padding: .7em .7em;
    font-size: 1em;
    transition: .7s;
}

.login button:hover, .login .login-btn:hover{
    opacity: .6;
}

.login .oauth-wrap button:nth-child(1){
    background-color: #164675;
    color: #fff;
}

.login .oauth-wrap i{
    margin-right: 1em;
}

.login .input-group-prepend{
    width: 100% !important;
    margin-bottom: 1em;
}

.login .login-btn{
    background-color: var(--p-color-3);
    display: block;
    width: 100%;
    color: #fff;
}